{
    "projectname":"night",
    "projecttitle":"NIGHT Framework",
    "secret":"YOURSECRET",
    "dbstring":"mysql:host=nightdb:3306;dbname=project",
    "dbuser":"root",
    "dbpass":"root",
    "cron_code":"AUTHKEY",
    "email_host":"smtp.gmail.com",
    "email_port":"587",
    "email_name":"NAME",
    "email_sender":"EMAIL@DOMAIN.COM",
    "email_encryption":"tls"
}