.DS_Store
*.log
config.*.json
config.*.crt
config.*.key
config.json
.config.*.json
.config.*.crt
.config.*.key
.config.json
config.toml
custom.php
cache_*
*disabled*
/assets/node_modules/
/assets/platforms/
/assets/plugins/
/assets/package-lock.json
/assets/package.json
/apache/letsencrypt/*
!/apache/letsencrypt/.keep
/runner/*
/mysql/*
/.idea/*